In [1]:
import pandas as pd

In [2]:
import pandas as pd
import numpy as np


df = pd.read_csv('Loan_data.csv')
print(df)

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]

In [3]:
df.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [4]:
df.shape

(614, 13)

In [5]:
df.size

7982

In [6]:
df.tail(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [11]:
df.columns.values

array(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome',
       'LoanAmount', 'Loan_Amount_Term', 'Credit_History',
       'Property_Area', 'Loan_Status'], dtype=object)

In [15]:
df.iloc[:,0:3]

      Loan_ID  Gender Married
0    LP001002    Male      No
1    LP001003    Male     Yes
2    LP001005    Male     Yes
3    LP001006    Male     Yes
4    LP001008    Male      No
..        ...     ...     ...
609  LP002978  Female      No
610  LP002979    Male     Yes
611  LP002983    Male     Yes
612  LP002984    Male     Yes
613  LP002990  Female      No

[614 rows x 3 columns]

In [20]:
df.loc[315:515]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
315,LP002031,Male,Yes,1,Not Graduate,No,3399,1640.0,111.0,180.0,1.0,Urban,Y
316,LP002035,Male,Yes,2,Graduate,No,3717,0.0,120.0,360.0,1.0,Semiurban,Y
317,LP002036,Male,Yes,0,Graduate,No,2058,2134.0,88.0,360.0,NaN,Urban,Y
318,LP002043,Female,No,1,Graduate,No,3541,0.0,112.0,360.0,NaN,Semiurban,Y
319,LP002050,Male,Yes,1,Graduate,Yes,10000,0.0,155.0,360.0,1.0,Rural,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
511,LP002640,Male,Yes,1,Graduate,No,6065,2004.0,250.0,360.0,1.0,Semiurban,Y
512,LP002643,Male,Yes,2,Graduate,No,3283,2035.0,148.0,360.0,1.0,Urban,Y
513,LP002648,Male,Yes,0,Graduate,No,2130,6666.0,70.0,180.0,1.0,Semiurban,N
514,LP002652,Male,No,0,Graduate,No,5815,3666.0,311.0,360.0,1.0,Rural,N
515,LP002659,Male,Yes,3+,Graduate,No,3466,3428.0,150.0,360.0,1.0,Rural,Y

In [28]:
df.iloc[100:105,-7:]

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
100,4288,3263.0,133.0,180.0,1.0,Urban,Y
101,4843,3806.0,151.0,360.0,1.0,Semiurban,Y
102,13650,0.0,NaN,360.0,1.0,Urban,Y
103,4652,3583.0,NaN,360.0,1.0,Semiurban,Y
104,3816,754.0,160.0,360.0,1.0,Urban,Y

In [35]:
df2 =df.describe()

In [37]:
df3 =pd.DataFrame(df2)

In [38]:
df4= pd.DataFrame.to_csv(df3)

In [39]:
df4

',ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History\r\ncount,614.0,614.0,592.0,600.0,564.0\r\nmean,5403.459283387622,1621.2457980271008,146.41216216216216,342.0,0.8421985815602837\r\nstd,6109.041673387178,2926.2483692241885,85.58732523570545,65.12040985461256,0.3648783192364048\r\nmin,150.0,0.0,9.0,12.0,0.0\r\n25%,2877.5,0.0,100.0,360.0,1.0\r\n50%,3812.5,1188.5,128.0,360.0,1.0\r\n75%,5795.0,2297.25,168.0,360.0,1.0\r\nmax,81000.0,41667.0,700.0,480.0,1.0\r\n'

In [41]:
df.ApplicantIncome.mean()

5403.459283387622

In [43]:
df.CoapplicantIncome.max()

41667.0

In [46]:
df[["CoapplicantIncome","ApplicantIncome"]].mean()

CoapplicantIncome    1621.245798
ApplicantIncome      5403.459283
dtype: float64

In [50]:
df['Property_Area'].nunique()

3

In [51]:
df['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [52]:
df['Property_Area'].value_counts()

Semiurban    233
Urban        202
Rural        179
Name: Property_Area, dtype: int64

In [54]:
df['Gender'].value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [57]:
df['Education'].describe()

count          614
unique           2
top       Graduate
freq           480
Name: Education, dtype: object

In [58]:
df['Education'].value_counts()

Graduate        480
Not Graduate    134
Name: Education, dtype: int64

In [61]:
print(df['Dependents'].dtype)

object

In [63]:
df['Dependents'].value_counts()

0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64

In [83]:
c1=df['Property_Area'].value_counts().reset_index()

In [81]:
# PA=pd.DataFrame(PA)

In [85]:
c1.columns=["Property Area " ,"Counts"]

In [87]:
c1

  Property Area   Counts
0      Semiurban     233
1          Urban     202
2          Rural     179

In [89]:
df['ApplicantIncome']

0      5849
1      4583
2      3000
3      2583
4      6000
       ...
609    2900
610    4106
611    8072
612    7583
613    4583
Name: ApplicantIncome, Length: 614, dtype: int64

In [94]:
df[df["Gender"]=="Male"].value_counts()

Loan_ID   Gender  Married  Dependents  Education     Self_Employed  ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  Property_Area  Loan_Status
LP001003  Male    Yes      1           Graduate      No             4583             1508.0             128.0       360.0             1.0             Rural          N              1
LP002368  Male    Yes      2           Graduate      No             5935             0.0                133.0       360.0             1.0             Semiurban      Y              1
LP002364  Male    Yes      0           Graduate      No             14880            0.0                96.0        360.0             1.0             Semiurban      Y              1
LP002361  Male    Yes      0           Graduate      No             1820             1719.0             100.0       360.0             1.0             Urban          Y              1
LP002348  Male    Yes      0           Graduate      No             5829             0.0                138.0       360.0             1.0             Rural          Y              1
                                                                                                                                                                                   ..
LP001665  Male    Yes      1           Graduate      No             3125             2583.0             170.0       360.0             1.0             Semiurban      N              1
LP001664  Male    No       0           Graduate      No             4191             0.0                120.0       360.0             1.0             Rural          Y              1
LP001658  Male    No       0           Graduate      No             3858             0.0                76.0        360.0             1.0             Semiurban      Y              1
LP001657  Male    Yes      0           Not Graduate  No             6033             0.0                160.0       360.0             1.0             Urban          N              1
LP002984  Male    Yes      2           Graduate      No             7583             0.0                187.0       360.0             1.0             Urban          Y              1
Length: 394, dtype: int64

In [96]:
df['ApplicantIncome'][df["Gender"]=="Male"].mean()

5446.460122699386

In [97]:
df['ApplicantIncome'][df["Gender"]=="Female"].mean()

4643.473214285715